body{
    background: #dfdfdf;
}

p{
    color: #222222;
}

.foto-principal {
    width: 200px; /* tamanho da foto*/

  /* ----- Bordas ------------------------------------------------------------- */

    border: 2px outset #FFFF; /* essa manira mais curta é chamada de shorthand*/
    border-radius: 50%; /*deixa a borda mais redonda*/

    /* border-radius: 50% 10% 35% 60%; ---> pode alterar borda por borada */
   /* outra maneira para fazer isso tem que fazer na ordem
    border-width:5px;
    border-style: solid;
    border-color: black;*/

  /* ---------- Margens --------------------------------------------------*/
    
    margin: 30px 30px 30px 30px; /*shorthand*/

   /* margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 500px;
    padding: 10px --> da um espaçamento interno*/

    /*------------------- Box - shadaw ------------------------------------*/

    box-shadow: 2px 2px 2px black;
}
